In [1]:
import numpy as np
import pandas as pd

In [2]:
groups = pd.read_csv("../data/groups-techniques.csv", names=['gid', 'name', 'TTP', 'description'])
techniques = pd.read_csv("../data/techniques.csv", names=['tactic_id', 'tactic', 'technique_id', 'technique'])
softwares = pd.read_csv('../data/software-techniques.csv')

In [3]:
groups = groups.map(lambda i: str(i).strip())
techniques = techniques.map(lambda i: str(i).strip())

In [4]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()
data = le.fit_transform(techniques['technique_id'])
le.inverse_transform(data)

array(['T1595', 'T1595.001', 'T1595.002', 'T1595.003', 'T1592',
       'T1592.001', 'T1592.002', 'T1592.003', 'T1592.004', 'T1589',
       'T1589.001', 'T1589.002', 'T1589.003', 'T1590', 'T1590.001',
       'T1590.002', 'T1590.003', 'T1590.004', 'T1590.005', 'T1590.006',
       'T1591', 'T1591.001', 'T1591.002', 'T1591.003', 'T1591.004',
       'T1598', 'T1598.001', 'T1598.002', 'T1598.003', 'T1598.004',
       'T1597', 'T1597.001', 'T1597.002', 'T1596', 'T1596.001',
       'T1596.002', 'T1596.003', 'T1596.004', 'T1596.005', 'T1593',
       'T1593.001', 'T1593.002', 'T1593.003', 'T1594', 'T1650', 'T1583',
       'T1583.001', 'T1583.002', 'T1583.003', 'T1583.004', 'T1583.005',
       'T1583.006', 'T1583.007', 'T1583.008', 'T1586', 'T1586.001',
       'T1586.002', 'T1586.003', 'T1584', 'T1584.001', 'T1584.002',
       'T1584.003', 'T1584.004', 'T1584.005', 'T1584.006', 'T1584.007',
       'T1584.008', 'T1587', 'T1587.001', 'T1587.002', 'T1587.003',
       'T1587.004', 'T1585', 'T1585.001', 'T1585.002', 'T1585.003',
       'T1588', 'T1588.001', 'T1588.002', 'T1588.003', 'T1588.004',
       'T1588.005', 'T1588.006', 'T1588.007', 'T1608', 'T1608.001',
       'T1608.002', 'T1608.003', 'T1608.004', 'T1608.005', 'T1608.006',
       'T1659', 'T1189', 'T1190', 'T1133', 'T1200', 'T1566', 'T1566.001',
       'T1566.002', 'T1566.003', 'T1566.004', 'T1091', 'T1195',
       'T1195.001', 'T1195.002', 'T1195.003', 'T1199', 'T1078',
       'T1078.001', 'T1078.002', 'T1078.003', 'T1078.004', 'T1651',
       'T1059', 'T1059.001', 'T1059.002', 'T1059.003', 'T1059.004',
       'T1059.005', 'T1059.006', 'T1059.007', 'T1059.008', 'T1059.009',
       'T1059.010', 'T1609', 'T1610', 'T1203', 'T1559', 'T1559.001',
       'T1559.002', 'T1559.003', 'T1106', 'T1053', 'T1053.002',
       'T1053.003', 'T1053.005', 'T1053.006', 'T1053.007', 'T1648',
       'T1129', 'T1072', 'T1569', 'T1569.001', 'T1569.002', 'T1204',
       'T1204.001', 'T1204.002', 'T1204.003', 'T1047', 'T1098',
       'T1098.001', 'T1098.002', 'T1098.003', 'T1098.004', 'T1098.005',
       'T1098.006', 'T1197', 'T1547', 'T1547.001', 'T1547.002',
       'T1547.003', 'T1547.004', 'T1547.005', 'T1547.006', 'T1547.007',
       'T1547.008', 'T1547.009', 'T1547.010', 'T1547.012', 'T1547.013',
       'T1547.014', 'T1547.015', 'T1037', 'T1037.001', 'T1037.002',
       'T1037.003', 'T1037.004', 'T1037.005', 'T1176', 'T1554', 'T1136',
       'T1136.001', 'T1136.002', 'T1136.003', 'T1543', 'T1543.001',
       'T1543.002', 'T1543.003', 'T1543.004', 'T1543.005', 'T1546',
       'T1546.001', 'T1546.002', 'T1546.003', 'T1546.004', 'T1546.005',
       'T1546.006', 'T1546.007', 'T1546.008', 'T1546.009', 'T1546.010',
       'T1546.011', 'T1546.012', 'T1546.013', 'T1546.014', 'T1546.015',
       'T1546.016', 'T1133', 'T1574', 'T1574.001', 'T1574.002',
       'T1574.004', 'T1574.005', 'T1574.006', 'T1574.007', 'T1574.008',
       'T1574.009', 'T1574.010', 'T1574.011', 'T1574.012', 'T1574.013',
       'T1574.014', 'T1525', 'T1556', 'T1556.001', 'T1556.002',
       'T1556.003', 'T1556.004', 'T1556.005', 'T1556.006', 'T1556.007',
       'T1556.008', 'T1556.009', 'T1137', 'T1137.001', 'T1137.002',
       'T1137.003', 'T1137.004', 'T1137.005', 'T1137.006', 'T1653',
       'T1542', 'T1542.001', 'T1542.002', 'T1542.003', 'T1542.004',
       'T1542.005', 'T1053', 'T1053.002', 'T1053.003', 'T1053.005',
       'T1053.006', 'T1053.007', 'T1505', 'T1505.001', 'T1505.002',
       'T1505.003', 'T1505.004', 'T1505.005', 'T1205', 'T1205.001',
       'T1205.002', 'T1078', 'T1078.001', 'T1078.002', 'T1078.003',
       'T1078.004', 'T1548', 'T1548.001', 'T1548.002', 'T1548.003',
       'T1548.004', 'T1548.005', 'T1548.006', 'T1134', 'T1134.001',
       'T1134.002', 'T1134.003', 'T1134.004', 'T1134.005', 'T1098',
       'T1098.001', 'T1098.002', 'T1098.003', 'T1098.004', 'T1098.005',
       'T1098.006', 'T1547', 'T1547.001', 'T1547.002', 'T1547.003',
       'T1547.004', 'T1547.005', 'T1547.006', 'T1547.007', 'T1547.008',
       'T1547.009', 'T1547.010', 'T1547.012', 'T1547.013', 'T1547.014',
       'T1547.015', 'T1037', 'T1037.001', 'T1037.002', 'T1037.003',
       'T1037.004', 'T1037.005', 'T1543', 'T1543.001', 'T1543.002',
       'T1543.003', 'T1543.004', 'T1543.005', 'T1484', 'T1484.001',
       'T1484.002', 'T1611', 'T1546', 'T1546.001', 'T1546.002',
       'T1546.003', 'T1546.004', 'T1546.005', 'T1546.006', 'T1546.007',
       'T1546.008', 'T1546.009', 'T1546.010', 'T1546.011', 'T1546.012',
       'T1546.013', 'T1546.014', 'T1546.015', 'T1546.016', 'T1068',
       'T1574', 'T1574.001', 'T1574.002', 'T1574.004', 'T1574.005',
       'T1574.006', 'T1574.007', 'T1574.008', 'T1574.009', 'T1574.010',
       'T1574.011', 'T1574.012', 'T1574.013', 'T1574.014', 'T1055',
       'T1055.001', 'T1055.002', 'T1055.003', 'T1055.004', 'T1055.005',
       'T1055.008', 'T1055.009', 'T1055.011', 'T1055.012', 'T1055.013',
       'T1055.014', 'T1055.015', 'T1053', 'T1053.002', 'T1053.003',
       'T1053.005', 'T1053.006', 'T1053.007', 'T1078', 'T1078.001',
       'T1078.002', 'T1078.003', 'T1078.004', 'T1548', 'T1548.001',
       'T1548.002', 'T1548.003', 'T1548.004', 'T1548.005', 'T1548.006',
       'T1134', 'T1134.001', 'T1134.002', 'T1134.003', 'T1134.004',
       'T1134.005', 'T1197', 'T1612', 'T1622', 'T1140', 'T1610', 'T1006',
       'T1484', 'T1484.001', 'T1484.002', 'T1480', 'T1480.001', 'T1211',
       'T1222', 'T1222.001', 'T1222.002', 'T1564', 'T1564.001',
       'T1564.002', 'T1564.003', 'T1564.004', 'T1564.005', 'T1564.006',
       'T1564.007', 'T1564.008', 'T1564.009', 'T1564.010', 'T1564.011',
       'T1564.012', 'T1574', 'T1574.001', 'T1574.002', 'T1574.004',
       'T1574.005', 'T1574.006', 'T1574.007', 'T1574.008', 'T1574.009',
       'T1574.010', 'T1574.011', 'T1574.012', 'T1574.013', 'T1574.014',
       'T1562', 'T1562.001', 'T1562.002', 'T1562.003', 'T1562.004',
       'T1562.006', 'T1562.007', 'T1562.008', 'T1562.009', 'T1562.010',
       'T1562.011', 'T1562.012', 'T1656', 'T1070', 'T1070.001',
       'T1070.002', 'T1070.003', 'T1070.004', 'T1070.005', 'T1070.006',
       'T1070.007', 'T1070.008', 'T1070.009', 'T1202', 'T1036',
       'T1036.001', 'T1036.002', 'T1036.003', 'T1036.004', 'T1036.005',
       'T1036.006', 'T1036.007', 'T1036.008', 'T1036.009', 'T1556',
       'T1556.001', 'T1556.002', 'T1556.003', 'T1556.004', 'T1556.005',
       'T1556.006', 'T1556.007', 'T1556.008', 'T1556.009', 'T1578',
       'T1578.001', 'T1578.002', 'T1578.003', 'T1578.004', 'T1578.005',
       'T1112', 'T1601', 'T1601.001', 'T1601.002', 'T1599', 'T1599.001',
       'T1027', 'T1027.001', 'T1027.002', 'T1027.003', 'T1027.004',
       'T1027.005', 'T1027.006', 'T1027.007', 'T1027.008', 'T1027.009',
       'T1027.010', 'T1027.011', 'T1027.012', 'T1027.013', 'T1647',
       'T1542', 'T1542.001', 'T1542.002', 'T1542.003', 'T1542.004',
       'T1542.005', 'T1055', 'T1055.001', 'T1055.002', 'T1055.003',
       'T1055.004', 'T1055.005', 'T1055.008', 'T1055.009', 'T1055.011',
       'T1055.012', 'T1055.013', 'T1055.014', 'T1055.015', 'T1620',
       'T1207', 'T1014', 'T1553', 'T1553.001', 'T1553.002', 'T1553.003',
       'T1553.004', 'T1553.005', 'T1553.006', 'T1218', 'T1218.001',
       'T1218.002', 'T1218.003', 'T1218.004', 'T1218.005', 'T1218.007',
       'T1218.008', 'T1218.009', 'T1218.010', 'T1218.011', 'T1218.012',
       'T1218.013', 'T1218.014', 'T1218.015', 'T1216', 'T1216.001',
       'T1216.002', 'T1221', 'T1205', 'T1205.001', 'T1205.002', 'T1127',
       'T1127.001', 'T1535', 'T1550', 'T1550.001', 'T1550.002',
       'T1550.003', 'T1550.004', 'T1078', 'T1078.001', 'T1078.002',
       'T1078.003', 'T1078.004', 'T1497', 'T1497.001', 'T1497.002',
       'T1497.003', 'T1600', 'T1600.001', 'T1600.002', 'T1220', 'T1557',
       'T1557.001', 'T1557.002', 'T1557.003', 'T1110', 'T1110.001',
       'T1110.002', 'T1110.003', 'T1110.004', 'T1555', 'T1555.001',
       'T1555.002', 'T1555.003', 'T1555.004', 'T1555.005', 'T1555.006',
       'T1212', 'T1187', 'T1606', 'T1606.001', 'T1606.002', 'T1056',
       'T1056.001', 'T1056.002', 'T1056.003', 'T1056.004', 'T1556',
       'T1556.001', 'T1556.002', 'T1556.003', 'T1556.004', 'T1556.005',
       'T1556.006', 'T1556.007', 'T1556.008', 'T1556.009', 'T1111',
       'T1621', 'T1040', 'T1003', 'T1003.001', 'T1003.002', 'T1003.003',
       'T1003.004', 'T1003.005', 'T1003.006', 'T1003.007', 'T1003.008',
       'T1528', 'T1649', 'T1558', 'T1558.001', 'T1558.002', 'T1558.003',
       'T1558.004', 'T1539', 'T1552', 'T1552.001', 'T1552.002',
       'T1552.003', 'T1552.004', 'T1552.005', 'T1552.006', 'T1552.007',
       'T1552.008', 'T1087', 'T1087.001', 'T1087.002', 'T1087.003',
       'T1087.004', 'T1010', 'T1217', 'T1580', 'T1538', 'T1526', 'T1619',
       'T1613', 'T1622', 'T1652', 'T1482', 'T1083', 'T1615', 'T1654',
       'T1046', 'T1135', 'T1040', 'T1201', 'T1120', 'T1069', 'T1069.001',
       'T1069.002', 'T1069.003', 'T1057', 'T1012', 'T1018', 'T1518',
       'T1518.001', 'T1082', 'T1614', 'T1614.001', 'T1016', 'T1016.001',
       'T1016.002', 'T1049', 'T1033', 'T1007', 'T1124', 'T1497',
       'T1497.001', 'T1497.002', 'T1497.003', 'T1210', 'T1534', 'T1570',
       'T1563', 'T1563.001', 'T1563.002', 'T1021', 'T1021.001',
       'T1021.002', 'T1021.003', 'T1021.004', 'T1021.005', 'T1021.006',
       'T1021.007', 'T1021.008', 'T1091', 'T1072', 'T1080', 'T1550',
       'T1550.001', 'T1550.002', 'T1550.003', 'T1550.004', 'T1557',
       'T1557.001', 'T1557.002', 'T1557.003', 'T1560', 'T1560.001',
       'T1560.002', 'T1560.003', 'T1123', 'T1119', 'T1185', 'T1115',
       'T1530', 'T1602', 'T1602.001', 'T1602.002', 'T1213', 'T1213.001',
       'T1213.002', 'T1213.003', 'T1005', 'T1039', 'T1025', 'T1074',
       'T1074.001', 'T1074.002', 'T1114', 'T1114.001', 'T1114.002',
       'T1114.003', 'T1056', 'T1056.001', 'T1056.002', 'T1056.003',
       'T1056.004', 'T1113', 'T1125', 'T1071', 'T1071.001', 'T1071.002',
       'T1071.003', 'T1071.004', 'T1092', 'T1659', 'T1132', 'T1132.001',
       'T1132.002', 'T1001', 'T1001.001', 'T1001.002', 'T1001.003',
       'T1568', 'T1568.001', 'T1568.002', 'T1568.003', 'T1573',
       'T1573.001', 'T1573.002', 'T1008', 'T1665', 'T1105', 'T1104',
       'T1095', 'T1571', 'T1572', 'T1090', 'T1090.001', 'T1090.002',
       'T1090.003', 'T1090.004', 'T1219', 'T1205', 'T1205.001',
       'T1205.002', 'T1102', 'T1102.001', 'T1102.002', 'T1102.003',
       'T1020', 'T1020.001', 'T1030', 'T1048', 'T1048.001', 'T1048.002',
       'T1048.003', 'T1041', 'T1011', 'T1011.001', 'T1052', 'T1052.001',
       'T1567', 'T1567.001', 'T1567.002', 'T1567.003', 'T1567.004',
       'T1029', 'T1537', 'T1531', 'T1485', 'T1486', 'T1565', 'T1565.001',
       'T1565.002', 'T1565.003', 'T1491', 'T1491.001', 'T1491.002',
       'T1561', 'T1561.001', 'T1561.002', 'T1499', 'T1499.001',
       'T1499.002', 'T1499.003', 'T1499.004', 'T1657', 'T1495', 'T1490',
       'T1498', 'T1498.001', 'T1498.002', 'T1496', 'T1489', 'T1529'],
      dtype=object)

In [5]:
df = groups.merge(techniques, left_on="TTP", right_on="technique_id")

In [6]:
df

,gid,name,TTP,description,tactic_id,tactic,technique_id,technique
0,G0018,admin@338,T1087,nan,TA0007,Discovery,T1087,Account Discovery
1,G0018,admin@338,T1087.001,[admin@338](https://attack.mitre.org/groups/G0...,TA0007,Discovery,T1087.001,Local Account
2,G0018,admin@338,T1059,nan,TA0002,Execution,T1059,Command and Scripting Interpreter
3,G0018,admin@338,T1059.003,Following exploitation with [LOWBALL](https://...,TA0002,Execution,T1059.003,Windows Command Shell
4,G0018,admin@338,T1203,[admin@338](https://attack.mitre.org/groups/G0...,TA0002,Execution,T1203,Exploitation for Client Execution
...,...,...,...,...,...,...,...,...
6588,G0128,ZIRCONIUM,T1124,[ZIRCONIUM](https://attack.mitre.org/groups/G0...,TA0007,Discovery,T1124,System Time Discovery
6589,G0128,ZIRCONIUM,T1204,nan,TA0002,Execution,T1204,User Execution
6590,G0128,ZIRCONIUM,T1204.001,[ZIRCONIUM](https://attack.mitre.org/groups/G0...,TA0002,Execution,T1204.001,Malicious Link
6591,G0128,ZIRCONIUM,T1102,nan,TA0011,Command and Control,T1102,Web Service
6592,G0128,ZIRCONIUM,T1102.002,[ZIRCONIUM](https://attack.mitre.org/groups/G0...,TA0011,Command and Control,T1102.002,Bidirectional Communication

In [7]:
df = df.reindex(columns=["gid", "name", "tactic_id", "tactic", "TTP", "technique", "description", "technique_id"])

In [8]:
df = df.drop(columns=["technique_id"])

In [9]:
df

,gid,name,tactic_id,tactic,TTP,technique,description
0,G0018,admin@338,TA0007,Discovery,T1087,Account Discovery,nan
1,G0018,admin@338,TA0007,Discovery,T1087.001,Local Account,[admin@338](https://attack.mitre.org/groups/G0...
2,G0018,admin@338,TA0002,Execution,T1059,Command and Scripting Interpreter,nan
3,G0018,admin@338,TA0002,Execution,T1059.003,Windows Command Shell,Following exploitation with [LOWBALL](https://...
4,G0018,admin@338,TA0002,Execution,T1203,Exploitation for Client Execution,[admin@338](https://attack.mitre.org/groups/G0...
...,...,...,...,...,...,...,...
6588,G0128,ZIRCONIUM,TA0007,Discovery,T1124,System Time Discovery,[ZIRCONIUM](https://attack.mitre.org/groups/G0...
6589,G0128,ZIRCONIUM,TA0002,Execution,T1204,User Execution,nan
6590,G0128,ZIRCONIUM,TA0002,Execution,T1204.001,Malicious Link,[ZIRCONIUM](https://attack.mitre.org/groups/G0...
6591,G0128,ZIRCONIUM,TA0011,Command and Control,T1102,Web Service,nan
6592,G0128,ZIRCONIUM,TA0011,Command and Control,T1102.002,Bidirectional Communication,[ZIRCONIUM](https://attack.mitre.org/groups/G0...

In [10]:
df.gid.nunique()

152

In [11]:
df

,gid,name,tactic_id,tactic,TTP,technique,description
0,G0018,admin@338,TA0007,Discovery,T1087,Account Discovery,nan
1,G0018,admin@338,TA0007,Discovery,T1087.001,Local Account,[admin@338](https://attack.mitre.org/groups/G0...
2,G0018,admin@338,TA0002,Execution,T1059,Command and Scripting Interpreter,nan
3,G0018,admin@338,TA0002,Execution,T1059.003,Windows Command Shell,Following exploitation with [LOWBALL](https://...
4,G0018,admin@338,TA0002,Execution,T1203,Exploitation for Client Execution,[admin@338](https://attack.mitre.org/groups/G0...
...,...,...,...,...,...,...,...
6588,G0128,ZIRCONIUM,TA0007,Discovery,T1124,System Time Discovery,[ZIRCONIUM](https://attack.mitre.org/groups/G0...
6589,G0128,ZIRCONIUM,TA0002,Execution,T1204,User Execution,nan
6590,G0128,ZIRCONIUM,TA0002,Execution,T1204.001,Malicious Link,[ZIRCONIUM](https://attack.mitre.org/groups/G0...
6591,G0128,ZIRCONIUM,TA0011,Command and Control,T1102,Web Service,nan
6592,G0128,ZIRCONIUM,TA0011,Command and Control,T1102.002,Bidirectional Communication,[ZIRCONIUM](https://attack.mitre.org/groups/G0...

In [12]:
import seaborn as sns
to_delete = df.groupby('gid')['gid'].count()[df.groupby('gid')['gid'].count() < 15].index
df = df[~df['gid'].isin(to_delete)]

In [13]:
df.groupby('gid')['gid'].count().max()

201

In [14]:
df.groupby('tactic')['tactic'].agg('count')

tactic
Collection               346
Command and Control      448
Credential Access        354
Defense Evasion         1137
Discovery                574
Execution                745
Exfiltration              99
Impact                    60
Initial Access           391
Lateral Movement         197
Persistence              674
Privilege Escalation     627
Reconnaissance           153
Resource Development     455
Name: tactic, dtype: int64

In [15]:
pd.DataFrame(df.groupby(['gid', 'tactic'])['tactic'].agg('count')).loc[:, ('tactic', 'tactic')]

                            tactic  tactic
gid   tactic
G0001 Collection                 2       2
      Command and Control        2       2
      Credential Access          1       1
      Defense Evasion            2       2
      Execution                  1       1
...                            ...     ...
G1029 Initial Access             5       5
      Lateral Movement           3       3
      Persistence                8       8
      Privilege Escalation      13      13
      Resource Development      11      11

[1088 rows x 2 columns]

In [16]:
pd.DataFrame(df.groupby(['gid', 'tactic'])['tactic'].agg('count')).index.get_level_values(1)

Index(['Collection', 'Command and Control', 'Credential Access',
       'Defense Evasion', 'Execution', 'Initial Access', 'Lateral Movement',
       'Persistence', 'Privilege Escalation', 'Resource Development',
       ...
       'Credential Access', 'Defense Evasion', 'Discovery', 'Execution',
       'Exfiltration', 'Initial Access', 'Lateral Movement', 'Persistence',
       'Privilege Escalation', 'Resource Development'],
      dtype='object', name='tactic', length=1088)

In [17]:
pd.DataFrame(df.groupby(['gid', 'tactic'])['tactic'].agg('count')).loc[('G1029', 'tactic')]

tactic
Collection               5
Command and Control      8
Credential Access        3
Defense Evasion         16
Discovery               21
Execution                9
Exfiltration             2
Initial Access           5
Lateral Movement         3
Persistence              8
Privilege Escalation    13
Resource Development    11
Name: tactic, dtype: int64

In [18]:
filter_groups = []
for g in df.gid.unique():
    tactics = df[df.gid == g]['tactic'].value_counts().index
    if 'Execution' in tactics:
        if 'Persistence' in tactics:
            if 'Credential Access' in tactics:
                if 'Discovery' in tactics:
                    if 'Lateral Movement' in tactics:
                        filter_groups.append(g)
df = df[df.gid.isin(filter_groups)]

In [19]:
df

,gid,name,tactic_id,tactic,TTP,technique,description
253,G0007,APT28,TA0004,Privilege Escalation,T1134,Access Token Manipulation,nan
254,G0007,APT28,TA0005,Defense Evasion,T1134,Access Token Manipulation,nan
255,G0007,APT28,TA0004,Privilege Escalation,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
256,G0007,APT28,TA0005,Defense Evasion,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
257,G0007,APT28,TA0003,Persistence,T1098,Account Manipulation,nan
...,...,...,...,...,...,...,...
6549,G0102,Wizard Spider,TA0001,Initial Access,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6550,G0102,Wizard Spider,TA0003,Persistence,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6551,G0102,Wizard Spider,TA0004,Privilege Escalation,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6552,G0102,Wizard Spider,TA0005,Defense Evasion,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6553,G0102,Wizard Spider,TA0002,Execution,T1047,Windows Management Instrumentation,[Wizard Spider](https://attack.mitre.org/group...

In [20]:
df = df[~ (df.tactic == "Reconnaissance")]
df = df[~ (df.tactic == "Resource Development")]
df = df[~ (df.tactic == "Initial Access")]
df = df[~ (df.tactic == "Collection")]
df = df[~ (df.tactic == "Command and Control")]
df = df[~ (df.tactic == "Exfiltration")]
df = df[~ (df.tactic == "Impact")]
df

,gid,name,tactic_id,tactic,TTP,technique,description
253,G0007,APT28,TA0004,Privilege Escalation,T1134,Access Token Manipulation,nan
254,G0007,APT28,TA0005,Defense Evasion,T1134,Access Token Manipulation,nan
255,G0007,APT28,TA0004,Privilege Escalation,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
256,G0007,APT28,TA0005,Defense Evasion,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
257,G0007,APT28,TA0003,Persistence,T1098,Account Manipulation,nan
...,...,...,...,...,...,...,...
6548,G0102,Wizard Spider,TA0005,Defense Evasion,T1078,Valid Accounts,[Wizard Spider](https://attack.mitre.org/group...
6550,G0102,Wizard Spider,TA0003,Persistence,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6551,G0102,Wizard Spider,TA0004,Privilege Escalation,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6552,G0102,Wizard Spider,TA0005,Defense Evasion,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
6553,G0102,Wizard Spider,TA0002,Execution,T1047,Windows Management Instrumentation,[Wizard Spider](https://attack.mitre.org/group...

In [21]:
df.reset_index().drop(columns=['index'])

,gid,name,tactic_id,tactic,TTP,technique,description
0,G0007,APT28,TA0004,Privilege Escalation,T1134,Access Token Manipulation,nan
1,G0007,APT28,TA0005,Defense Evasion,T1134,Access Token Manipulation,nan
2,G0007,APT28,TA0004,Privilege Escalation,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
3,G0007,APT28,TA0005,Defense Evasion,T1134.001,Token Impersonation/Theft,[APT28](https://attack.mitre.org/groups/G0007)...
4,G0007,APT28,TA0003,Persistence,T1098,Account Manipulation,nan
...,...,...,...,...,...,...,...
2728,G0102,Wizard Spider,TA0005,Defense Evasion,T1078,Valid Accounts,[Wizard Spider](https://attack.mitre.org/group...
2729,G0102,Wizard Spider,TA0003,Persistence,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
2730,G0102,Wizard Spider,TA0004,Privilege Escalation,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
2731,G0102,Wizard Spider,TA0005,Defense Evasion,T1078.002,Domain Accounts,[Wizard Spider](https://attack.mitre.org/group...
2732,G0102,Wizard Spider,TA0002,Execution,T1047,Windows Management Instrumentation,[Wizard Spider](https://attack.mitre.org/group...

In [36]:
df.to_csv('../data/tidy-data/groups.csv', index=False)

Expand Data Based on Groups

In [39]:
import math

# def expand(original_lists):
#     indexes = math.prod([len(l) for l in original_lists if len(l) != 0])
#     result = []
#     for i, l in enumerate(original_lists):
#         if not l:
#             stack = np.array([None for _ in range(indexes)])
#             result.append(stack)
#             continue
#         n_repeat = indexes / len(l)
#         stack = np.repeat(np.array(l), int(n_repeat))
#         result.append(stack)

#     return pd.DataFrame(np.array(result).T)

def expand(original_lists):
    list_to_expand = []
    result = []
    for l in original_lists:
        if len(l) < 3:
            list_to_expand.append(l)
            continue
        list_to_expand.append(pd.Series(l).sample(3).to_list())
    indexes = math.prod([len(l) for l in list_to_expand if len(l) != 0])
    for i, l in enumerate(list_to_expand):
        if not l:
            stack = np.array([None for _ in range(indexes)])
            result.append(stack)
            continue
        n_repeat = indexes / len(l)
        stack = np.repeat(np.array(l), int(n_repeat))
        result.append(stack)
    return pd.DataFrame(np.array(result).T)

        


df2 = []
counter = 0
for g in df.gid.unique():
    print(len(df2))
    # if len(df2) == 10:
    #     pd.concat(df2, axis=0).reset_index().drop(columns="index").to_csv(f"{counter}_groups.csv")
    #     counter += 1
    #     df2 = []
    l = []
    for tactic in df.tactic.unique():
        l.append(df[(df.gid == g) & (df.tactic == tactic)].technique.to_list())
    g_df = expand(l)
    df2.append(g_df)

pd.concat(df2, axis=0).reset_index().drop(columns="index").to_csv(f"../data/tidy-data/flat_groups.csv")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42

In [36]:
df2[1]

,0,1,2,3,4,5,6
0,Valid Accounts,Indicator Removal,Web Shell,OS Credential Dumping,PowerShell,Lateral Tool Transfer,Process Discovery
1,Valid Accounts,Indicator Removal,Web Shell,OS Credential Dumping,PowerShell,Lateral Tool Transfer,Process Discovery
2,Valid Accounts,Indicator Removal,Web Shell,OS Credential Dumping,PowerShell,Lateral Tool Transfer,Process Discovery
3,Valid Accounts,Indicator Removal,Web Shell,OS Credential Dumping,PowerShell,Lateral Tool Transfer,Process Discovery
4,Valid Accounts,Indicator Removal,Web Shell,OS Credential Dumping,PowerShell,Lateral Tool Transfer,Process Discovery
...,...,...,...,...,...,...,...
481,Domain Accounts,Valid Accounts,Domain Accounts,NTDS,Windows Management Instrumentation,Lateral Tool Transfer,Domain Groups
482,Domain Accounts,Valid Accounts,Domain Accounts,NTDS,Windows Management Instrumentation,Lateral Tool Transfer,Domain Groups
483,Domain Accounts,Valid Accounts,Domain Accounts,NTDS,Windows Management Instrumentation,Lateral Tool Transfer,Domain Groups
484,Domain Accounts,Valid Accounts,Domain Accounts,NTDS,Windows Management Instrumentation,Lateral Tool Transfer,Domain Groups
485,Domain Accounts,Valid Accounts,Domain Accounts,NTDS,Windows Management Instrumentation,Lateral Tool Transfer,Domain Groups

In [38]:
df.gid.nunique()

43